.el-form-item__label
    font-weight: bold
.el-menu
    border-right: none
.el-header
    background-color: $--color-primary
.el-dialog__title
    color: $--color-secondary
    font-weight: bold
.el-autocomplete
  width: 100%
  margin-bottom: 1rem
.el-drawer__header
  font-weight: bold
  text-transform: uppercase
  margin: 0px
  padding: 1rem
