body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-size: 16px;
  margin: 0;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

// dialog
.dialog-responsive .el-dialog {
  @media (max-width: 992px) {
    width: calc(75% - 1rem);
  }

  @media (max-width: 768px) {
    width: calc(100% - 1rem);
  }
}

// form
.form-btn-actions {
  display: flex;
  justify-content: center;
  @extend .mt-5;
}

//drawer
.drawer-right {
  background-color: $--drawer-bg-color !important;
  overflow-y: auto !important;
}