body {
  // font-family: 'Open Sans', sans-serif !important;
  font-family: $font-header !important;
  font-size: 1rem;
  margin: 0;
}

.full-width {
  width: 100%;
}

.app-aside {
  background-color: $--color-secondary;
  min-height: 100vh;
}

.app-card-info {
  h1 {
    margin: 0;
    color: $--color-secondary;
    font-weight: bolder;
    margin-bottom: 0.5em;
    font-size: 1rem;
  }
  span {
    font-size: 0.8rem;
    font-weight: lighter;
    color: #9e9e9e;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  // margin-bottom: 0.4rem;
  margin-bottom: .6rem;
  line-height: 1;
  font-family: $font-header;
  color: $shade-dark !important;
}
h6,.h6 {
  font-weight: 600 !important;
}
p,
.p, input {
  margin: 0;
  color: $shade-light;
  font-family: $font-base;
  line-height: 1 !important;
}
// dialog
.dialog-responsive .el-dialog {
  @media (max-width: 992px) {
    width: calc(75% - 1rem);
  }

  @media (max-width: 768px) {
    width: calc(100% - 1rem);
  }
}

// form
.form-btn-actions {
  display: flex;
  justify-content: center;
  @extend .mt-5;
}

//drawer
.drawer-right {
  background-color: $--drawer-bg-color !important;
  overflow-y: auto !important;
}
.text-center {
  text-align: center;
}
