body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-size: 16px;
  margin: 0;
}

.full-width {
  width: 100%;
}

.app-aside{
  background-color: $--color-secondary;
  min-height: 100vh;
}

.app-card-info{
  h1{
    margin: 0;
    color: $--color-secondary;
    font-weight: bolder;
    margin-bottom: .5em;
    font-size: 1rem;
  }
  span{
    font-size: .8rem;
    font-weight: lighter;
    color: #9E9E9E;
  }
}
    
