.card-spectral-index {
  margin-bottom: .5rem;
  .content-spectral-index {
    display: flex;
    align-items: center;
    .image img {
      width: 4.375rem;
      height: 4.375rem;
    }
    .detail {
      padding-left: 0.8rem;
      .title {
        font-weight: bold;
      }
    }
  }
}
.scope-item {
  display: flex;
  align-items: center;
  .item-image {
    margin: 0.25rem 0;
  }
  .item-content {
    padding-left: 0.8rem;
  }
}
