.card-spectral-index {
  margin-bottom: 0.5rem;
  .content-spectral-index {
    display: flex;
    align-items: center;
    .el-image img {
      border-radius: 8% !important;
    }
    .detail {
      padding-left: 0.8rem;
      width: 100%;
      .title {
        font-weight: bold;
      }
    }
  }
  .actions {
    text-align: right;
    img {
      object-fit: cover;
      height: 100%;
    }
    &__btn {
      padding: 2px !important;
      span {
        display: flex;
        align-items: center;
      }
    }
  }
}
.scope-item {
  display: flex;
  align-items: center;
  .item-image {
    margin: 0.25rem 0;
  }
  .item-content {
    padding-left: 0.8rem;
  }
}
